@use "../abstracts";

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(8%) sepia(10%) saturate(4042%) hue-rotate(212deg) brightness(90%)
    contrast(95%);
  //header

  --body-bg: #f6f6f6;
  --header-bg-color: #eee;
  --top-act-group-bg-color: #fff;
  --top-act-group-shadow: rgba(237, 237, 246, 0.2);
  --top-act-group-separate: #ededf6;

  @include abstracts.breakpoint(lg) {
    --header-bg-color: #fff;
    --header-shadow-color: rgba(237, 237, 246, 0.2);
  }
  --header-act-dropdown-bg: #fff;
  --header-act-dropdown-shadow: rgba(200, 200, 200, 0.4);
  // Dropdown
  --dropdown-bg-color: #fff;
  --dropdown-shadow-color: rgba(200, 200, 200, 0.4);
  --top-menu-border-color: #d2d1d6;
  //   side bar
  --sidebar--bg: #fff;
  --sidebar--shadow: rgba(200, 200, 200, 0.4);
  // cate -item
  --cate--item-bg: #eee;
  --cate--item-thumb-bg: #fff;
  --cate--item-title-color: #000;
  @include abstracts.breakpoint(md) {
    --cate--item-bg: #fff;
  }
  // buttons
  --filter--btn-color: #6c6c72;
  --filter--btn-bg: #fff;
  // product
  --product-card-bg: #fff;
  --product-card-shadow: rgba(237, 237, 246, 0.2);
  --product-card-brand-color: #9e9da8;
  //like shadow
  --like-btn-shadow: rgba(124, 124, 124, 0.2);
  // coutdown
  --countdown--bg: #77dae6;
  --countdown--text-color: #000;
  --countdown-box-bg: #fff;
  //  countdown gadient
  --countdown-bg-left: #ff9a9e;
  --countdown-bg-right: #fecfef;
  // filter form

  --filter-form-bg: #fff;
  --filter-form-shadow: rgba(200, 200, 200, 0.4);
  --filter-form-tag-bg: #f8f8fb;
  //footer
  --footer-bg-color: var(--header-bg-color);
  //sign in
  --auth-content-bg: #fff;
  --form--input-boder-color: #d2d1d6;
  --form--input--text-color: var(--form--input-boder-color);
  --form--inputCheckbox-text-color: #9e9da8;
  --form--text-btn: #000;
  @include abstracts.breakpoint(md) {
    --auth-intro-bg: #fff;
  }
  //form btn
  --btn--outline-bg: #fff;
  --btn--outline-text: #1a162e;
  //form filter
  --form-tag-bg: #f8f8fb;
  --form-bg: #fff;

  //auth
  --auth--intro-bg: #fafafd;
  --auth--content--heading-color: #1a162e;
  //deltail

  --product-detail-bg: #fff;
  @include abstracts.breakpoint(md) {
    --product-detail-bg: #f8f8fb;
  }

  //breadcrumbs
  --Breadcrumbs-bg: #f6f6f6;
  --Breadcrumbs-shadow: rgba(237, 237, 246, 0.2);
  @include abstracts.breakpoint(md) {
    --Breadcrumbs-bg: #fff;
    --Breadcrumbs-shadow: rgba(237, 237, 246, 0.2);
  }
  //--prod-infor-bg
  --prod-infor-bg: #f6f6f6;
  @include abstracts.breakpoint(md) {
    --prod-infor-bg: #fff;
  }
  //product
  --product-info-bg: #f6f6f6;
  --product-container-bg: #fff;
  --product-container-shadow: rgba(237, 237, 246, 0.2);
  @include abstracts.breakpoint(md) {
    --product-info-bg: #fff;
  }
  //search
  --search-bar-bg: #fff;
  --search-bar-text-color: #9e9da8;
  //product preview
  --review-card-bg: #fafafd;
  @include abstracts.breakpoint(md) {
    --review-card-bg: #fff;
  }
  //text- content
  --text-content-hr-bg: #ebebeb;
  //drop down
  --act-dropdown-text-color: #1a162e;
}
