@use "../abstracts";
.cate-item {
  height: 100%;
  display: flex;
  gap: 20px;
  padding: 20px 26px 20px 20px;
  border-radius: 16px;
  background: var(--cate--item-bg);
  @include abstracts.breakpoint(xl) {
    flex-direction: column;
  }
  @include abstracts.breakpoint(md) {
    flex-direction: row;
  }
  transition: box-shadow 0.5s ease;
  &:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  &__thumb {
    width: 116px;
    height: 116px;
    flex-shrink: 0;
    object-fit: contain;
    background: var(--cate--item-thumb-bg);
    border-radius: 8px;
    @include abstracts.breakpoint(xl) {
      width: 100%;
      height: 160px;
      display: block;
      margin: 0 auto;
    }
    @include abstracts.breakpoint(md) {
      width: 88px;
      height: 88px;
      margin: 0;
    }
  }
  &__infor {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 30px;
    @include abstracts.breakpoint(xxl) {
      padding-right: 0;
    }
  }
  &__title {
    color: var(--cate--item-title-color);
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3.2rem; /* 145.455% */
    @include abstracts.breakpoint(md) {
      font-size: 1.8rem;
    }
  }
  &__desc {
    margin-top: 6px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rems; /* 150% */
    @include abstracts.breakpoint(md) {
      font-size: 1.4rem;
    }
  }
}
.is-active {
  border: 3px solid var(--text-color);
  border-radius: 20px;
}
