@use "../abstracts";

%fill-screen {
  position: fixed;
  inset: 0;
}
.dialog {
  @extend %fill-screen;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;

  &.show {
    opacity: 1;
    visibility: visible;
  }
  &__overlay {
    @extend %fill-screen;
    background: rgba($color: #000000, $alpha: 0.2);
  }
  @extend %fill-screen;
  &__content {
    background: var(--dialog-bg);
    position: relative;
    z-index: 1;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0px 20px 60px 10px var(--dialog-shadow);
    @include abstracts.breakpoint(md) {
      padding: 20px;
    }
  }
  &__text {
    min-width: min(450px, 100% - 40px);
    line-height: 1.5;
    font-size: 1.8rem;
    font-weight: 500;
  }
  &__bottom {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 30px;
    flex-wrap: wrap;
  }
  &__btn {
    @include abstracts.breakpoint(md) {
      flex: 1;
    }
  }
}
