.form {
  &__group {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    &--inline {
      flex-direction: row;
    }
  }
  &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
    .form__text--input {
      border-color: red;
      background: rgba(red, 0.1);
    }
    .form__error,
    .form__input--icon-error {
      display: block;
    }
    .form__input--icon {
      display: none;
    }
  }
  &__text--input {
    width: 100%;
    justify-content: space-between;
    padding: 0 12px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1.5px solid var(--form--input-boder-color, #d2d1d6);
    &:focus-within {
      border-color: #77dae6;
    }
  }
  &__input {
    width: 100%;
    height: 100%;
    flex: 1;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%; /*  */
    &::placeholder {
      color: var(--form--input--text-color);
    }
  }
  &__error {
    display: none;
    color: red;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 500;
  }
  &__input--icon {
    margin-left: auto;
    padding-left: 10px;
    width: 24px;
    height: 24px;

    &-error {
      display: none;
      width: 20px;
      height: 20px;
      animation: shake 1s ease;
    }
  }
  &__group--inline {
    display: flex;
    align-items: center;
  }
  &__pull-right {
    margin-left: auto;
  }
  &__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    &--lable {
      user-select: none;
      color: var(--form--inputCheckbox-text-color);
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 146.667%; /* 146.667% */
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
    }
    &::before {
      width: 19px;
      height: 19px;
      border-radius: 5px;
      border: 1px solid #9e9da8;
      background: #fff;
    }
    &--input {
      width: 16px;
      height: 16px;
      margin-left: 0;
      border: none;
    }
  }
  &__checkbox:has(:checked) {
    &::before {
      background: #ffb700;
    }
    &::after {
      width: 15px;
      height: 5px;
      border: 2px solid;
      border-color: transparent transparent #fff #fff;
      rotate: -45deg;
      left: 3px;
      top: 6px;
    }
  }
}
