@use "../abstracts";

.form {
  &__seperate {
    height: calc(100% - 12px);
    width: 1px;
    background: #d2d1d6;
  }
  &__group {
    margin-top: 30px;
    display: flex;
    flex-direction: column;

    &--inline {
      flex-direction: row;
    }
  }
  &__group:has(:invalid):has(&__input:not(:placeholder-shown)) {
    .form__text--input {
      border-color: red;
      background: rgba(red, 0.1);
    }
    .form__error,
    .form__input--icon-error {
      display: block;
    }
    .form__input--icon {
      display: none;
    }
  }
  &__text--input {
    width: 100%;
    justify-content: space-between;
    padding: 0 12px;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1.5px solid var(--form--input-boder-color, #d2d1d6);
    &:focus-within {
      border-color: #77dae6;
    }
  }
  &__input {
    width: 100%;
    height: 100%;
    flex: 1;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%; /*  */
    &::placeholder {
      color: var(--form--input--text-color);
    }
  }
  &__error {
    display: none;
    color: red;
    text-align: left;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: 500;
  }
  &__input--icon {
    margin-left: auto;
    padding-left: 10px;
    width: 24px;
    height: 24px;

    &-error {
      display: none;
      width: 20px;
      height: 20px;
      animation: shake 1s ease;
    }
  }
  &__group--inline {
    display: flex;
    align-items: center;
  }
  &__pull-right {
    margin-left: auto;
  }
  &__checkbox {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    &--lable {
      user-select: none;
      color: var(--form--inputCheckbox-text-color);
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 146.667%; /* 146.667% */
    }
    &::before,
    &::after {
      content: "";
      position: absolute;
    }
    &::before {
      width: 19px;
      height: 19px;
      border-radius: 5px;
      border: 1px solid #9e9da8;
      background: #fff;
    }
    &--input {
      width: 16px;
      height: 16px;
      margin-left: 0;
      border: none;
    }
  }
  &__checkbox:has(:checked) {
    &::before {
      background: #ffb700;
    }
    &::after {
      width: 15px;
      height: 5px;
      border: 2px solid;
      border-color: transparent transparent #fff #fff;
      rotate: -45deg;
      left: 3px;
      top: 6px;
    }
  }
  &__lable {
    display: block;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 145.455%; /*  */
    &-small {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 142.857%; /* 142.857% */
      margin-bottom: 10px;
    }
  }
  &-tags {
    display: flex;
    gap: 10px 20px;
    flex-wrap: wrap;
    @include abstracts.breakpoint(sm) {
      gap: 10px;
    }
  }
  &-tag {
    border-radius: 6px;
    padding: 6px 12px;
    color: #9e9da8;
    background: var(--form-tag-bg, #f8f8fb);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 142.857%; /* 142.857% */
    transition: color 0.2s ease;
    &:hover {
      color: var(--text-color);
    }
  }
  &-group {
    margin-top: 20px;
    &--inline {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  &__price {
    &-slider {
      position: relative;
      width: 272px;
      height: 2px;
      flex-shrink: 0;
      background: #d2d1d6;
      &::before,
      &::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        content: "";
        width: 22px;
        height: 22px;
        border-radius: 50%;
        border: 6px solid #ffb700;
        background: var(--form-bg);
        cursor: pointer;
      }
      &::before {
        left: var(--min-value);
      }
      &::after {
        left: var(--max-value);
      }
    }
  }
  &-select {
    display: flex;
    align-items: center;
    min-width: var(--width, 108px);
    justify-content: space-between;
    padding: 0 14px;
    font-size: 1.4rem;
    height: calc(100% - 10px);
    font-weight: 500;
    line-height: 142.857%; /* */
    @include abstracts.breakpoint(xl) {
      flex: 1;
    }
  }
  &-select + &-select {
    border-left: 1px solid #d2d1d6;
  }
  &__size {
    &-select-wrap {
      border-radius: 6px;
      border: 1px solid #d2d1d6;
      height: 45px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }
    &-select {
      display: flex;
      align-items: center;
      min-width: var(--width, 108px);
      justify-content: space-between;
      padding: 0 14px;
      font-size: 1.4rem;
      height: calc(100% - 10px);
      font-weight: 500;
      line-height: 142.857%; /* */
      @include abstracts.breakpoint(xl) {
        flex: 1;
      }
    }
    &-select + &-select {
      border-left: 1px solid #d2d1d6;
    }
  }
  &__brand {
    &-text-input {
      width: 100%;
      padding: 10px 16px;
      display: flex;
      border-radius: 6px;
      border: 1px solid #d2d1d6;
      gap: 133px;

      @include abstracts.breakpoint(sm) {
        width: 100%;
        gap: 0;
        justify-content: space-between;
      }
      @include abstracts.breakpoint(sm) {
        font-size: 1.6rem;
      }
      &--icon {
        position: absolute;
        right: 0;
      }
    }
    &-input {
      position: relative;
      border: none;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 146.667%;
      &::placeholder {
        color: #9e9da8;
        font-weight: 400;
      }
    }
  }
}
