html {
  --primary--white-main: #fff;
  --primary--white-3: #edf0f8;
  --primary--white-2: #f7f5f7;
  --primary--white-4: #ecdecc;
  --primary--white-5: #f3f3f3;
  --primary--blue-main: #3a4980;
  --primary--blue-2: #164c96;
  --primary-blue-3: #344054;
  --primary--grey-1: #667085;
  --primary--grey-2: #98a2b3;
  --primary--grey-3: #a3a9c2;
  --primary--grey-4: #fbf3ea;
  --primary--grey-5: #ecdecc;
  --primary--grey-6: #b9bbbf;
  --primary--grey-7: #726c6c;

  --primary--orange-1: #d48d3b;
  --primary--red-1: #d46f77;
  --primary--dark-1: #00000080;
  --primary--grey-2: #edf0f8;
  --primary-pink-main: #fff0f0;
  --main-blue-2: #edf0f8;
}
